*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font: 14px/1.5 Arial;
  color: #333;
  padding-bottom: 30px;
}
ul{
  margin-left: 1em;
}
li{
  margin-top: 10px;
  padding:0 1em;
}
a{

}